/*=========================================FONTS=========================================*/
/*=========================================FONTS=========================================*/
/*=========================================FONTS=========================================*/
@import url("https://fonts.googleapis.com/css?family=Lato:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lora:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cinzel:regular,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Alumni+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap");

@font-face {
	font-family: "Torhok";
	src: url("../fonts/Torhok.woff2") format("woff2"), url("../fonts/Torhok.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Torhok";
	src: url("../fonts/TorhokItalic.woff2") format("woff2"), url("../fonts/TorhokItalic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "OblivionFont";
	src: url("../fonts/OblivionFont.woff2") format("woff2"), url("../fonts/OblivionFont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
/*=======================================Zeroing Styles=======================================*/
/*=======================================Zeroing Styles=======================================*/
/*=======================================Zeroing Styles=======================================*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
ul {
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
body {
	line-height: 1;
	color: rgb(0, 0, 0);
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
html {
	scroll-behavior: smooth;
}
/*=========================================CODE=========================================*/
/*=========================================CODE=========================================*/
/*=========================================CODE=========================================*/
/*=====================HEADER=====================*/
body {
	background: url("../img/wallpaper.jpeg") 0 0 / 100% no-repeat;
	background-attachment: fixed;
}

.container {
	height: 2500px;
	max-width: 80%;
	margin: 0 auto;
	padding-top: 9px;
	border-left: 6px dotted rgb(64, 242, 255);
	border-right: 6px dotted rgb(64, 242, 255);
}

.header {
	max-width: 95%;
	margin: 0 auto;
	background-color: rgb(39, 221, 253);
	border-radius: 10px;
	border: 2px solid black;
	padding: 30px 0px 50px 0px;
}
.header__container {
	background-color: #333;
	border-radius: 10px;
	max-width: 80%;
	margin: 0 auto;
	position: fixed;
	top: 1.5%;
	left: 600px;
	padding: 9px;
}
.header__menu {
}
.header__list {
	font-size: 0;
}
.header__list > li {
	position: relative;
	display: inline-block;
	margin: 0px 30px 0px 0px;
}
.header__list > li:hover .header__sub-list {
	display: block;
}
.header__sub-list > li:hover .header__sub-list2 {
	display: block;
}
.header__list > li:hover .header__link {
	color: yellow;
}
.header__list > li:last-child {
	margin-right: 0px;
}
.header__list > li:last-child .header__sub-list {
	left: auto;
	right: 0;
}
.header__link {
	font-size: 30px;
	font-family: OblivionFont;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	text-decoration: underline;
	border: 2px solid white;
	padding: 10px 30px 10px 5px;
	display: inline-block;
	border-radius: 10px;
}
.header__link::after {
	position: absolute;
	content: "";
	background: url("../img/down-arrow.png") 0 0 no-repeat;
	height: 24px;
	width: 24px;
	margin: 2px 0px 0px 0px;
}
.header__link:hover {
	text-decoration: none;
	font-size: 25px;
	filter: drop-shadow(0px 0px 40px rgb(255, 0, 0));
}
.header__sub-list {
	position: absolute;
	content: "";
	top: 100%;
	left: 0;
	min-width: 150px;
	background-color: orange;
	padding: 10px;
	display: none;
}
.header__sub-list li {
	margin: 0px 0px 10px 0px;
}
.header__sub-list li:last-child {
	margin-bottom: 0;
}
.header__sub-link {
	font-size: 18px;
	color: white;
	font-family: OblivionFont;
	text-transform: uppercase;
}
.header__sub-link-green {
	color: rgb(19, 102, 44);
}
.header__sub-link:hover {
	text-decoration: underline;
	font-size: 20px;
}
.header__sub-link-green::after {
	position: absolute;
	content: "";
	background: url("../img/down-arrow.png") 0 0 no-repeat;
	height: 24px;
	width: 24px;
}
.header__sub-list2 {
	position: absolute;
	content: "";
	top: 55%;
	left: 100%;
	min-width: 150px;
	background-color: rgb(201, 187, 126);
	padding: 10px;
	display: none;
}
.header__sub-link2 {
	font-size: 17px;
	color: rgb(19, 102, 44);
	font-family: OblivionFont;
	text-transform: uppercase;
}
.header__sub-link2:hover {
	text-decoration: underline;
	font-size: 19px;
}
.header__sub-list2 li:last-of-type::before {
	background: url("../img/ufo.png") 0 0 no-repeat;
	width: 64px;
	height: 64px;
	position: absolute;
	content: "";
	top: 100%;
	left: 30%;
	z-index: 9;
}
.header__sub-list2 li:last-of-type:hover .light {
	display: block;
}
.light {
	height: 0px;
	width: 0px;
	border-left: 320px solid transparent;
	border-right: 320px solid transparent;
	border-bottom: 640px solid #b1daaf;
	position: absolute;
	top: 100%;
	left: 21%;
	z-index: 2;
	margin-left: -274px;
	display: none;
}

.car {
	width: 700px;
	border-radius: 5% 45% 0% 15%;
	border-bottom: 300px solid turquoise;
	border-right: 30px solid transparent;
	margin-top: 400px;
	position: relative;
	top: 0px;
	left: 0px;
}

.door_left {
	position: absolute;
	top: 50px;
	left: 70px;
	width: 220px;
	height: 240px;
	background: url(../img/car.jpeg) 0 0/75% repeat;
	border-radius: 15% 0% 45% 5%;
	border: 3px solid slategray;
}

.open1 {
	position: absolute;
	top: 160px;
	left: 255px;
	width: 15px;
	height: 50px;
	background-color: slategray;
	z-index: 5;
	border-radius: 40% 0% 0% 40%;
	border-right: 5px solid silver;
}

.door_right {
	position: absolute;
	top: 50px;
	left: 300px;
	width: 220px;
	height: 240px;
	background: url(../img/car.jpeg) 0 0/75% repeat;
	border-radius: 5% 45% 0% 15%;
	border: 3px solid slategray;
}

.open2 {
	position: absolute;
	top: 160px;
	left: 315px;
	width: 15px;
	height: 50px;
	background-color: slategray;
	z-index: 5;
	border-radius: 0% 40% 40% 0%;
	border-left: 5px solid silver;
}

.window {
	position: absolute;
	top: 31px;
	left: 529px;
	width: 172px;
	height: 120px;
	background-color: skyblue;
	border-radius: 5% 100% 0% 15%;
	border: 3px solid slategray;
}

.stick {
	position: absolute;
	top: 41px;
	left: 600px;
	width: 4px;
	height: 110px;
	background-color: slategray;

	z-index: 1;
}

.topbox {
	position: absolute;
	top: 155px;
	left: 528px;
	width: 165px;
	height: 140px;
	background: url(../img/car.jpeg) 0 0/100% repeat;
	border-radius: 25%;
	border: 3px solid slategray;
}

.stick2 {
	position: absolute;
	top: 250px;
	left: -35px;
	width: 35px;
	height: 10px;
	background-color: silver;
	border-top: 1px solid slategray;
	border-left: 1px solid slategray;
	border-right: 10px solid slategray;
	border-bottom: 1px solid slategray;
	border-radius: 0% 25% 25% 0%;
}

.back_wheel {
	position: absolute;
	top: 50px;
	left: -55px;
	width: 55px;
	height: 100px;
	border-radius: 25%;
	background-color: black;
}

.wheel1 {
	position: absolute;
	top: 300px;
	left: 70px;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	background-color: gray;
	border: 30px solid black;
}

.wheel2 {
	position: absolute;
	top: 300px;
	left: 550px;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	background-color: gray;
	border: 30px solid black;
}

.absolute {
	position: absolute;
	top: -158px;
	right: -20px;
}
/*=====================MAIN=====================*/
.main {
	border: 4px solid rgb(218, 169, 169);
	max-width: 50%;
	margin: 17% 0 0 3%;
	padding: 50px;
	background-color: rgba(51, 51, 51, 0.603);
	color: white;
	font-family: OblivionFont;
	position: relative;
	z-index: 10;
}
.block {
	padding: 25px;
	border: 4px solid rgb(136, 20, 20);
}
.text {
	margin: 0px 0px 40px 0px;
	font-size: 20px;
	padding-left: 50px;
	position: relative;
	border: 4px solid rgb(179, 218, 169);
}
.text::before {
	content: "";
	background: url("../img/check.png") 0 0 no-repeat;
	width: 25px;
	height: 19px;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.3s ease 0s;
}
.text:last-child {
	margin: 0;
}

.text:hover::before {
	transform: scale(3.5) rotate(-360deg);
}
/*=====================FOOTER=====================*/

/*=====================NOTES=====================*/
/*
Свойство position
Устанавливает способ позиционирования элемента относительно окна браузера или других объектов 
на веб-странице. Вспомогательные свойства left, right, top и bottom управляют положением элемента, 
а z-index управляет наложением друг на друга по оси Z.

Значения:
static - элемент позиционируется относительно родителя и соседних элементов
relative - элемент позиционируется как static но можно двигать его относительно своего положения
absolute - элемент позиционируется относительно ближайшего родителя с relative, absolute, fixed и sticky
fixed - элемент позиционируется относительно окна браузера
sticky - элемент позиционируется как static но когда верхняя граница элемента будет 
находиться на расстоянии, указанном в параметре top, от верхней границы окна браузера (либо указанном в параметре bottom от нижней), 
он останется в этом положении относительно окна до тех пор пока его нижняя граница 
не упрется в другой sticky элемент или конец родительского элемента
inherit - берет значение от родителя
==========================================================
Свойства:
top, bottom, left и right - управляют положением элемента сверху снизу слева и справа.
Значения могут указываются в том числе в процентах и могут иметь отрицательные значения.
Работают с элементами к которым применен один из параметров 
position:relative,position:absolute,position:fixed и position:sticky (только top или bottom)
==========================================================
Свойство: z-index
Управляет наложением друг на друга элементов с
параметрами position:relative,position:absolute,position:fixed по оси Z
*/
